html, body {
  width: 100%;
  height: 100%;

  color: #aaa;
}

svg.js-lifegame {
  position: absolute;;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -1000;
}

svg rect.live {
  fill: none;
}

svg rect.dead {
  fill: #2a2a2a;
}

body {
  font-family: 'Heebo', sans-serif;

  background: linear-gradient(60deg, #1d1d1d, #333535, #1d1d1d);
  background-size: 600% 600%;
  animation: cellAnimation 10s ease infinite;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 24px;
  margin-top: 12px;
}

@keyframes cellAnimation {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

.margin-top-30 {
  margin-top: 30px;
}

.avatar p {
  font-size: 30px;
}

.avatar img {
  width: 70px;
  vertical-align: middle;
  margin-right: 10px;
}

.bordered-container {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
